# web scraping of cars

In [23]:
from bs4 import BeautifulSoup
import requests

from cars24.com

In [29]:
page = requests.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001')

In [30]:
page

In [31]:
soup = BeautifulSoup(page.content)

In [33]:
name=[]

for i in soup.find_all('h2',class_='_3FpCg'):
    name.append(i.text)
name

['2010 Maruti A Star',
 '2012 Maruti Swift Dzire',
 '2013 Maruti Swift Dzire',
 '2014 Maruti Swift Dzire',
 '2013 Maruti Swift',
 '2016 Maruti Vitara Brezza',
 '2016 Maruti Wagon R 1.0',
 '2015 Maruti Ertiga',
 '2014 Maruti Wagon R 1.0',
 '2015 Maruti Swift',
 '2015 Maruti Swift',
 '2017 Maruti Vitara Brezza',
 '2019 Toyota Innova Crysta',
 '2017 Toyota Innova Crysta',
 '2016 Hyundai Creta',
 '2017 Ford Ecosport',
 '2012 Volvo S60',
 '2013 Nissan Terrano',
 '2018 Maruti Baleno',
 '2021 HYUNDAI NEW I20']

In [34]:
price=[]

for i in soup.find_all('div',class_='_7udZZ'):
    price.append(i.text)
price

['₹231,099',
 '₹352,799',
 '₹353,699',
 '₹401,599',
 '₹403,799',
 '₹593,999',
 '₹335,799',
 '₹643,899',
 '₹335,174',
 '₹435,099',
 '₹436,599',
 '₹689,599',
 '₹1,697,799',
 '₹1,525,699',
 '₹833,699',
 '₹719,199',
 '₹927,399',
 '₹420,599',
 '₹620,299',
 '₹744,499']

In [42]:
distance=[]

for i in soup.find_all('ul',class_='bVR0c'):
    distance.append(i.text)
distance

['25,346 km1st OwnerPetrol',
 '115,145 km1st OwnerDiesel',
 '105,088 km1st OwnerPetrol',
 '87,119 km1st OwnerDiesel',
 '24,652 km1st OwnerDiesel',
 '30,116 km1st OwnerDiesel',
 '71,758 km2nd OwnerPetrol',
 '52,870 km1st OwnerDiesel',
 '24,454 km1st OwnerPetrol',
 '89,196 km1st OwnerDiesel',
 '44,638 km1st OwnerDiesel',
 '35,406 km1st OwnerDiesel',
 '31,813 km1st OwnerDiesel',
 '85,295 km1st OwnerDiesel',
 '54,233 km1st OwnerDiesel',
 '40,139 km1st OwnerPetrol',
 '41,361 km2nd OwnerDiesel',
 '62,883 km2nd OwnerDiesel',
 '7,950 km1st OwnerPetrol',
 '1,026 km1st OwnerPetrol']

In [47]:
fuel=[]

for i in soup.find_all('ul',class_='bVR0c'):
    fuel.append(i.text)
fuel

['25,346 km1st OwnerPetrol',
 '115,145 km1st OwnerDiesel',
 '105,088 km1st OwnerPetrol',
 '87,119 km1st OwnerDiesel',
 '24,652 km1st OwnerDiesel',
 '30,116 km1st OwnerDiesel',
 '71,758 km2nd OwnerPetrol',
 '52,870 km1st OwnerDiesel',
 '24,454 km1st OwnerPetrol',
 '89,196 km1st OwnerDiesel',
 '44,638 km1st OwnerDiesel',
 '35,406 km1st OwnerDiesel',
 '31,813 km1st OwnerDiesel',
 '85,295 km1st OwnerDiesel',
 '54,233 km1st OwnerDiesel',
 '40,139 km1st OwnerPetrol',
 '41,361 km2nd OwnerDiesel',
 '62,883 km2nd OwnerDiesel',
 '7,950 km1st OwnerPetrol',
 '1,026 km1st OwnerPetrol']

In [49]:
print(len(name),len(price),len(distance),len(fuel))

20 20 20 20

In [51]:
import pandas as pd

In [52]:
df=pd.DataFrame({'Names':name,'Price':price,'Distance':distance,'Fuel':fuel})
df

,Names,Price,Distance,Fuel
0,2010 Maruti A Star,"₹231,099","25,346 km1st OwnerPetrol","25,346 km1st OwnerPetrol"
1,2012 Maruti Swift Dzire,"₹352,799","115,145 km1st OwnerDiesel","115,145 km1st OwnerDiesel"
2,2013 Maruti Swift Dzire,"₹353,699","105,088 km1st OwnerPetrol","105,088 km1st OwnerPetrol"
3,2014 Maruti Swift Dzire,"₹401,599","87,119 km1st OwnerDiesel","87,119 km1st OwnerDiesel"
4,2013 Maruti Swift,"₹403,799","24,652 km1st OwnerDiesel","24,652 km1st OwnerDiesel"
5,2016 Maruti Vitara Brezza,"₹593,999","30,116 km1st OwnerDiesel","30,116 km1st OwnerDiesel"
6,2016 Maruti Wagon R 1.0,"₹335,799","71,758 km2nd OwnerPetrol","71,758 km2nd OwnerPetrol"
7,2015 Maruti Ertiga,"₹643,899","52,870 km1st OwnerDiesel","52,870 km1st OwnerDiesel"
8,2014 Maruti Wagon R 1.0,"₹335,174","24,454 km1st OwnerPetrol","24,454 km1st OwnerPetrol"
9,2015 Maruti Swift,"₹435,099","89,196 km1st OwnerDiesel","89,196 km1st OwnerDiesel"
10,2015 Maruti Swift,"₹436,599","44,638 km1st OwnerDiesel","44,638 km1st OwnerDiesel"
11,2017 Maruti Vitara Brezza,"₹689,599","35,406 km1st OwnerDiesel","35,406 km1st OwnerDiesel"
12,2019 Toyota Innova Crysta,"₹1,697,799","31,813 km1st OwnerDiesel","31,813 km1st OwnerDiesel"
13,2017 Toyota Innova Crysta,"₹1,525,699","85,295 km1st OwnerDiesel","85,295 km1st OwnerDiesel"
14,2016 Hyundai Creta,"₹833,699","54,233 km1st OwnerDiesel","54,233 km1st OwnerDiesel"
15,2017 Ford Ecosport,"₹719,199","40,139 km1st OwnerPetrol","40,139 km1st OwnerPetrol"
16,2012 Volvo S60,"₹927,399","41,361 km2nd OwnerDiesel","41,361 km2nd OwnerDiesel"
17,2013 Nissan Terrano,"₹420,599","62,883 km2nd OwnerDiesel","62,883 km2nd OwnerDiesel"
18,2018 Maruti Baleno,"₹620,299","7,950 km1st OwnerPetrol","7,950 km1st OwnerPetrol"
19,2021 HYUNDAI NEW I20,"₹744,499","1,026 km1st OwnerPetrol","1,026 km1st OwnerPetrol"

In [59]:
page=requests.get('https://www.ola.cars/listings/buy-used+city-is-bangalore+sort-is-rel-relevance?utm_source=google&utm_medium=cpc&utm_campaign=UsedSpecific-Prices-Bengaluru&gclid=CjwKCAiA24SPBhB0EiwAjBgkhqKsvKx4g9HeWXCZIkssvS_njf3SPTKW_gBERwuHoei7nuDcXESEMxoCMdYQAvD_BwE')

In [60]:
page

In [61]:
soup = BeautifulSoup(page.content)

In [64]:
name=[]
for i in soup.find_all('p',class_='fs-16 lh-24 fw-500 black'):
     name.append(i.text)
name

[]